{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block content %}
<p>Forgot Password <a href="{% url 'langapp:forgot_password' %}"> Click here</a></p>
<p><a href="{% url 'langapp:login' %}">Back to login</a></p>
{% endblock content %}