{% load static %}
{% include 'includes/head_blog.html' %}
{% include 'includes/header_contact.html' %}
	<!-- Blog -->

	<div class="blog">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="welcome_title">Welcome to our blog!</div>
				</div>
			</div>
			<div class="row categories_row">

				<!-- Category -->
				<div class="col-xl-2 col-lg-4 col-md-6 blog_category_col">
					<a href="{% url 'langapp:blog' %}">
						<div class="blog_category">
							<div class="blog_category_image"><img src="{% static 'images/blog_2.jpg' %}" alt=""></div>
							<div class="blog_category_title">travel</div>
						</div>
					</a>
				</div>

				<!-- Category -->
				<div class="col-xl-2 col-lg-4 col-md-6 blog_category_col">
					<a href="{% url 'langapp:blog' %}">
						<div class="blog_category">
							<div class="blog_category_image"><img src="{% static 'images/blog_2.jpg' %}" alt=""></div>
							<div class="blog_category_title">languages</div>
						</div>
					</a>
				</div>

				<!-- Category -->
				<div class="col-xl-2 col-lg-4 col-md-6 blog_category_col">
					<a href="{% url 'langapp:blog' %}">
						<div class="blog_category">
							<div class="blog_category_image"><img src="{% static 'images/blog_2.jpg' %}" alt=""></div>
							<div class="blog_category_title">cultures</div>
						</div>
					</a>
				</div>

				<!-- Category -->
				<div class="col-xl-2 col-lg-4 col-md-6 blog_category_col">
					<a href="{% url 'langapp:blog' %}">
						<div class="blog_category">
							<div class="blog_category_image"><img src="{% static 'images/blog_2.jpg' %}" alt=""></div>
							<div class="blog_category_title">fashion</div>
						</div>
					</a>
				</div>

				<!-- Category -->
				<div class="col-xl-2 col-lg-4 col-md-6 blog_category_col">
					<a href="{% url 'langapp:blog' %}">
						<div class="blog_category">
							<div class="blog_category_image"><img src="{% static 'images/blog_2.jpg' %}" alt=""></div>
							<div class="blog_category_title">cooking</div>
						</div>
					</a>
				</div>

				<!-- Category -->
				<div class="col-xl-2 col-lg-4 col-md-6 blog_category_col">
					<a href="{% url 'langapp:blog' %}">
						<div class="blog_category">
							<div class="blog_category_image"><img src="{% static 'images/blog_2.jpg' %}" alt=""></div>
							<div class="blog_category_title">hobbies</div>
						</div>
					</a>
				</div>
			</div>

			<!-- Blog Posts -->
			
			<div class="row blog_row">
				{% for post in posts %}
				<!-- Blog Post -->
				<div class="col-lg-6">
					<div class="blog_post">
						<div class="blog_image" style="background-image:url({% static 'images/blog_2.jpg' %})"></div>
						<div class="blog_title_container">
							<div class="blog_post_category"><a href="#">Published {{ post.publish }} by {{ post.author }}</a></div>
							<div class="blog_post_title"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></div>
							<div class="blog_post_text">
								<p>{{ post.body|truncatewords:25|safe }}</p>
							</div>
							<div class="read_more"><a href="{{ post.get_absolute_url }}">Read More <img src="images/right.png" alt=""></a></div>
						</div>
					</div>
				</div>
				{% endfor %}
				<div class="col-lg-6">

					<p><a href="{% url "langapp:home" %}">go to main page</a>
					{% include "pagination.html" with page=posts %}</p>
				</div>
			</div>

			<!-- Load More -->
			<div class="row">
				<div class="col">
					<div class="load_more_button">{% include "pagination.html" with page=posts %}</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Footer -->

	<footer class="footer">
		<div class="footer_body">
			<div class="container">
				<div class="row">

					<!-- Newsletter -->
					<div class="col-lg-3 footer_col">
						<div class="newsletter_container d-flex flex-column align-items-start justify-content-end">
							<div class="footer_logo mb-auto"><a href="#">Lingua</a></div>
							<div class="footer_title">Subscribe</div>
							<form action="#" id="newsletter_form" class="newsletter_form">
								<input type="email" class="newsletter_input" placeholder="Email" required="required">
								<button class="newsletter_button"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
							</form>
						</div>
					</div>

					<!-- About -->
					<div class="col-lg-2 offset-lg-3 footer_col">
						<div>
							<div class="footer_title">About Us</div>
							<ul class="footer_list">
								<li><a href="#">Courses</a></li>
								<li><a href="#">Team</a></li>
								<li><a href="#">Brand Guidelines</a></li>
								<li><a href="#">Jobs</a></li>
								<li><a href="#">Advertise with us</a></li>
								<li><a href="#">Press</a></li>
								<li><a href="#">Contact us</a></li>
							</ul>
						</div>
					</div>

					<!-- Help & Support -->
					<div class="col-lg-2 footer_col">
						<div class="footer_title">Help & Support</div>
						<ul class="footer_list">
							<li><a href="#">Discussions</a></li>
							<li><a href="#">Troubleshooting</a></li>
							<li><a href="#">Duolingo FAQs</a></li>
							<li><a href="#">Schools FAQs</a></li>
							<li><a href="#">Duolingo English Test FAQs</a></li>
							<li><a href="#">Status</a></li>
						</ul>
					</div>

					<!-- Privacy -->
					<div class="col-lg-2 footer_col clearfix">
						<div>
							<div class="footer_title">Privacy & Terms</div>
							<ul class="footer_list">
								<li><a href="#">Community Guidelines</a></li>
								<li><a href="#">Terms</a></li>
								<li><a href="#">Brand Guidelines</a></li>
								<li><a href="#">Privacy</a></li>
							</ul>
						</div>
					</div>

				</div>
			</div>
		</div>
		<div class="copyright">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="copyright_content d-flex flex-md-row flex-column align-items-md-center align-items-start justify-content-start">
							<div class="cr"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></div>
							<div class="cr_right ml-md-auto">
								<div class="footer_phone"><span class="cr_title">phone:</span>+44 300 303 0266</div>
								<div class="footer_social">
									<span class="cr_social_title">follow us</span>
									<ul>
										<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
										<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
</div>

<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'styles/bootstrap4/popper.js' %}"></script>
<script src="{% static 'styles/bootstrap4/bootstrap.min.js' %}"></script>
<script src="{% static 'plugins/OwlCarousel2-2.2.1/owl.carousel.js' %}"></script>
<script src="{% static 'plugins/easing/easing.js' %}"></script>
<script src="{% static 'plugins/parallax-js-master/parallax.min.js' %}"></script>
<script src="{% static 'js/blog.js' %}"></script>
</body>
</html>